<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>서울에서 만나는 쉐어하우스, 우주</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>
<div class="wz-container">
	<header id="main-bar">
		<div id="header-box">
			<div id="main-logo">
				WOOZOO
			</div>
			<div id="main-menu">
				<ul>
					<li>방찾기</li>
					<li id="menu-more-btn">
						<div id="menu-more">
							MENU
							<i class="fa fa-caret-down"></i>
						</div>
					</li>
					<li>FAQ</li>
				</ul>
			</div>
			<div id="sign-info">
				<ul>
					<li>로그인</li>
					<li>회원가입</li>
				</ul>
			</div>
		</div>
	</header>
	<div class="menu-layer">
	</div>
	<div class="menu-list-box">
		<div class="menu-list-inner">
			<div class="menu-list info">
				<div class="menu-title">입주안내</div>
				<div class="menu-btn">
					<ul>
						<li class="process">- 입주절차</li>
						<li class="culture">- 문화</li>
						<li class="service">- 서비스</li>
					</ul>
				</div>
			</div>
			<div class="menu-list company">
				<div class="menu-title">회사소개</div>
				<div class="menu-btn">
					<ul>
						<li class="introduction">- 소개</li>
						<li class="recruit">- 채용</li>
						<li class="contact">- 찾아오시는길</li>
					</ul>
				</div>
			</div>
			<div class="menu-list operation">
				<div class="menu-title">운영안내</div>
				<div class="menu-btn">
					<ul>
						<li class="inquire">- 운영문의</li>
						<li class="example">- 운영사례</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="main-top">
		<div id="main-top-body">
			<div id="main-text">
				H A P P Y &nbsp; T O G E T H E R
			</div>
			<div id="main-desc">
				<b>36개</b> 지점에<br>
				<b>253명</b>의 우주인이 살아가고 있습니다.
			</div>
			<div id="main-search-box">
				<button id="main-search-btn"><i class="fa fa-search"></i> 나에게 맞는 방 찾기</button>
			</div>
		</div>
	</div>
	<div id="main-contents">
		<section>
			<div class="section-contents section01">
				<div class="section-paging">
					<ul>
						<li class="active"><i class="fa fa-circle"></i></li>
						<li><i class="fa fa-circle"></i></li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<div class="section-contents section02">
				<div class="section-title">"너와 나의 우주"</div>
				<div class="section-desc">함께하는 즐거움</div>
			</div>
		</section>
		<section>
			<div class="section-contents section03">
				<ul>
					<li>
						<div class="house-img" style="background-image: url('../img/main_room01.jpg')"></div>
						<div class="house-info-wrap">
							<div class="house-info">
								<div class="house-name">45호점 동작구 상도동</div>
								<div class="house-concept">Modern Chic</div>
							</div>
							<div class="house-info">
								<div class="house-gender">여성전용</div>
								<div class="house-available">
									<div class="available-text">신청가능</div>
									<div class="room-vacancy">5</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="house-img" style="background-image: url('../img/main_room02.jpg')"></div>
						<div class="house-info-wrap">
							<div class="house-info">
								<div class="house-name">45호점 동작구 상도동</div>
								<div class="house-concept">Modern Chic</div>
							</div>
							<div class="house-info">
								<div class="house-gender">여성전용</div>
								<div class="house-available">
									<div class="available-text">신청가능</div>
									<div class="room-vacancy">5</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="house-img" style="background-image: url('../img/main_room03.jpg')"></div>
						<div class="house-info-wrap">
							<div class="house-info">
								<div class="house-name">45호점 동작구 상도동</div>
								<div class="house-concept">Modern Chic</div>
							</div>
							<div class="house-info">
								<div class="house-gender">여성전용</div>
								<div class="house-available">
									<div class="available-text">신청가능</div>
									<div class="room-vacancy">5</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="house-img" style="background-image: url('../img/main_room04.jpg')"></div>
						<div class="house-info-wrap">
							<div class="house-info">
								<div class="house-name">45호점 동작구 상도동</div>
								<div class="house-concept">Modern Chic</div>
							</div>
							<div class="house-info">
								<div class="house-gender">여성전용</div>
								<div class="house-available">
									<div class="available-text">신청가능</div>
									<div class="room-vacancy">5</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="house-img" style="background-image: url('../img/main_room01.jpg')"></div>
						<div class="house-info-wrap">
							<div class="house-info">
								<div class="house-name">45호점 동작구 상도동</div>
								<div class="house-concept">Modern Chic</div>
							</div>
							<div class="house-info">
								<div class="house-gender">여성전용</div>
								<div class="house-available">
									<div class="available-text">신청가능</div>
									<div class="room-vacancy">5</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="house-img" style="background-image: url('../img/main_room02.jpg')"></div>
						<div class="house-info-wrap">
							<div class="house-info">
								<div class="house-name">45호점 동작구 상도동</div>
								<div class="house-concept">Modern Chic</div>
							</div>
							<div class="house-info">
								<div class="house-gender">여성전용</div>
								<div class="house-available">
									<div class="available-text">신청가능</div>
									<div class="room-vacancy">5</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="house-img" style="background-image: url('../img/main_room03.jpg')"></div>
						<div class="house-info-wrap">
							<div class="house-info">
								<div class="house-name">45호점 동작구 상도동</div>
								<div class="house-concept">Modern Chic</div>
							</div>
							<div class="house-info">
								<div class="house-gender">여성전용</div>
								<div class="house-available">
									<div class="available-text">신청가능</div>
									<div class="room-vacancy">5</div>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="house-img" style="background-image: url('../img/main_room04.jpg')"></div>
						<div class="house-info-wrap">
							<div class="house-info">
								<div class="house-name">45호점 동작구 상도동</div>
								<div class="house-concept">Modern Chic</div>
							</div>
							<div class="house-info">
								<div class="house-gender">여성전용</div>
								<div class="house-available">
									<div class="available-text">신청가능</div>
									<div class="room-vacancy">5</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section>
			<div class="section-contents section04">
				<ul>
					<li>
						<div class="section04-img service" style="background-image: url('../img/img_section04_01.png')"></div>
					</li>
					<li>
						<div class="section04-img interview" style="background-image: url('../img/img_section04_02.png')"></div>
					</li>
					<li>
						<div class="section04-img company" style="background-image: url('../img/img_section04_03.png')"></div>
					</li>
					<li>
						<div class="section04-img qna" style="background-image: url('../img/img_section04_04.png')"></div>
					</li>
				</ul>
			</div>
		</section>
		<section>
			<div class="section-contents section05">
				<div class="section05-img" style="background-image: url('../img/main_section05.jpg')">
				</div>
			</div>
		</section>
	</div>
	{{>footer jsName='main'}}
