<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>서울에서 만나는 쉐어하우스, 우주</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>
<div class="wz-container">
	<header id="main-bar">
		<div id="header-box">
			<div id="main-logo" style="background-image: url('http://woozoo.kr/assets/logos/woozoo-e575036cf4fc1ef89cf5f33a737265918669a1c19d01a57c796b8f2addde90fe.svg')">
			</div>
			<div id="main-menu">
				<ul>
					<li>방 찾기</li>
					<li>입주안내</li>
					<li>회사소개</li>
					<li>FAQ</li>
					<li>임대·투자</li>
				</ul>
			</div>
			<div id="sign-info">
				<ul>
					<li>로그인</li>
					<li>회원가입</li>
				</ul>
			</div>
		</div>
	</header>
	<div id="main-top">
		<div id="main-top-body">
			<div id="main-text">
				국내 최대 소셜하우징<br>
				지금까지 우주가 운영한 <b>셰어하우스 50개</b><br>
				현재 <b>292명의 우주인</b>이 살아가고 있습니다.
			</div>
			<div id="main-search-box">
				<button id="main-search-btn">나에게 맞는 방 찾기</button>
			</div>
		</div>
	</div>
	<div id="main-contents">
		<section>
			<div class="section-contents section01">
				<div class="section01-img" style="background-image: url('../img/main_slide01.jpg')">
					<div class="section-paging">
						<ul>
							<li class="active"><i class="fa fa-circle"></i></li>
							<li><i class="fa fa-circle"></i></li>
							<li><i class="fa fa-circle"></i></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="section-contents section02">
				<div class="section-title">START</div>
				<div class="section-desc">Better Together, <b>너와 나의 우주</b></div>
				<div class="section-boxes section02">
					<ul>
						<li>
							<div class="section02-box">
								<div class="section02 box-img" style="background-image: url('http://www.woozoo.kr/images/landing/stat1.svg')"></div>
								<div class="section02 box-title">약 7000여 명</div>
								<div class="section02 box-desc">누적 입주신청자 수</div>
							</div>
						</li>
						<li>
							<div class="section02-box">
								<div class="section02 box-img" style="background-image: url('http://www.woozoo.kr/images/landing/stat2.svg')"></div>
								<div class="section02 box-title">4 : 1</div>
								<div class="section02 box-desc">신규 하우스 입주경쟁률</div>
							</div>
						</li>
						<li>
							<div class="section02-box">
								<div class="section02 box-img" style="background-image: url('http://www.woozoo.kr/images/landing/stat3.svg')"></div>
								<div class="section02 box-title">약 700여 명</div>
								<div class="section02 box-desc">우주에 다녀간 분들</div>
							</div>
						</li>
						<li>
							<div class="section02-box">
								<div class="section02 box-img" style="background-image: url('http://www.woozoo.kr/images/landing/stat4.svg')"></div>
								<div class="section02 box-title">75%</div>
								<div class="section02 box-desc">평균 재계약률</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="statics-date">통계기준 : 2016년 12월</div>
			</div>
		</section>
		<section>
			<div class="section-contents section03">
				<div class="section-title">BROWSE OUR PLACES</div>
				<div class="section-desc">우주만의 다양한 생활 공간을 둘러보세요!</div>
				<div class="room-list">
					<ul>
						<li>
							<div class="room-box">
								<div class="room-img" style="background-image: url('../img/main_room01.jpg')"></div>
								<div class="house-info">
									<div class="branch-nmb">16호점</div>
									<div class="house-addr">성북구 돈암동</div>
								</div>
							</div>
						</li>
						<li>
							<div class="room-box">
								<div class="room-img" style="background-image: url('../img/main_room02.jpg')"></div>
								<div class="house-info">
									<div class="branch-nmb">19호점</div>
									<div class="house-addr">용산구 이태원동</div>
								</div>
							</div>
						</li>
						<li>
							<div class="room-box">
								<div class="room-img" style="background-image: url('../img/main_room03.jpg')"></div>
								<div class="house-info">
									<div class="branch-nmb">32호점</div>
									<div class="house-addr">관악구 행운동</div>
								</div>
							</div>
						</li>
						<li>
							<div class="room-box">
								<div class="room-img" style="background-image: url('../img/main_room04.jpg')"></div>
								<div class="house-info">
									<div class="branch-nmb">36호점</div>
									<div class="house-addr">종로구 연지동</div>
								</div>
							</div>
						</li>
						<li>
							<div class="room-box">
								<div class="room-img" style="background-image: url('../img/main_room05.jpg')"></div>
								<div class="house-info">
									<div class="branch-nmb">40호점</div>
									<div class="house-addr">종로구 연지동</div>
								</div>
							</div>
						</li>
						<li>
							<div class="room-box">
								<div class="room-img" style="background-image: url('../img/main_room06.jpg')"></div>
								<div class="house-info">
									<div class="branch-nmb">41호점</div>
									<div class="house-addr">서초구 서초동</div>
								</div>
							</div>
						</li>
						<li>
							<div class="room-box">
								<div class="room-img" style="background-image: url('../img/main_room07.jpg')"></div>
								<div class="house-info">
									<div class="branch-nmb">47호점</div>
									<div class="house-addr">용산구 서빙고동</div>
								</div>
							</div>
						</li>
						<li>
							<div class="room-box">
								<div class="room-img room-more">
									<div class="more-img" style="background-image: url('http://www.woozoo.kr/images/landing/house_more.svg')"></div>
									<div class="more-desc">우주의 다양한 공간을 모두 구경해보세요!</div>
									<div class="more-btn">더보기 &gt;</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section>
			<div class="section-contents section04">
				<div class="section-title">WHY</div>
				<div class="section-desc"><b>왜 셰어하우스 일까요?</b></div>
				<div class="sub-title">새로운 주거 형태로 주목을 받고 있는 셰어하우스!</div>
				<div class="sub-desc">셰어하우스는 독립적인 공간(방, 화장실 등)과<br>
					공유하는 공간(거실, 주방, 화장실, 테라스 등)이<br>
					접목된 새로운 형태의 주거 공간입니다.<br>
				</div>
				<div class="why-list">
					<ul>
						<li>
							<div class="why-img" style="background-image: url('http://www.woozoo.kr/images/landing/why1.svg')"></div>
							<div class="why-title">1. 합리적입니다!</div>
							<div class="why-desc">저렴한 보증금과 공과금, 풀옵션 가전-가구<br>
								월세, 전세에 비해 주거초기비용 절약</div>
						</li>
						<li>
							<div class="why-img" style="background-image: url('http://www.woozoo.kr/images/landing/why1.svg')"></div>
							<div class="why-title">2. 공간을 넓게 이용할 수 있습니다!</div>
							<div class="why-desc">1인당 주거 면적의 확대<br>
								방. 거실, 부엌, 화장실, 테라스 등</div>
						</li>
						<li>
							<div class="why-img" style="background-image: url('http://www.woozoo.kr/images/landing/why3.svg')"></div>
							<div class="why-title">3. 다양한 사람들과의 네트워크가 가능해요!</div>
							<div class="why-desc">함께라서 느낄 수 있는 정서적 안정감<br>
								독립생활, 서울살이도 걱정없는 안전함</div>
						</li>
						<li>
							<div class="why-img" style="background-image: url('http://www.woozoo.kr/images/landing/why4.svg')"></div>
							<div class="why-title">4. 가깝습니다!</div>
							<div class="why-desc">교통이 편리한 역세권에 위치<br>
								집 근처 어디든 '핫플레이스'</div>
						</li>
					</ul>
				</div>
				<div class="wz-sharehouse">Better Together! <b>셰어하우스우주!</b></div>
				<div class="wz-popular">“ 이미 수많은 사람들이 우주를 선택해왔습니다. ”</div>
			</div>
		</section>
		<section>
			<div class="section-contents section05" style="background-image: url('../img/main_room08.jpg')">
				<div class="feature-list">
					<ul>
						<li>
							<div class="feauture-box">
								<div class="feature-img logo" style="background-image: url('http://www.woozoo.kr/images/landing/feature1.png')"></div>
								<div class="feature-desc">국내 최대 쉐어하우스 운영사</div>
							</div>
						</li>
						<li>
							<div class="feauture-box">
								<div class="feature-img" style="background-image: url('http://www.woozoo.kr/images/landing/feature2.svg')"></div>
								<div class="feature-desc">활발한 커뮤니티 이벤트</div>
							</div>
						</li>
						<li>
							<div class="feauture-box">
								<div class="feature-img" style="background-image: url('http://www.woozoo.kr/images/landing/feature3.svg')"></div>
								<div class="feature-desc">풀옵션, 와이파이, 방범서비스 등</div>
							</div>
						</li>
						<li>
							<div class="feauture-box">
								<div class="feature-img" style="background-image: url('http://www.woozoo.kr/images/landing/feature4.svg')"></div>
								<div class="feature-desc">별도의 부동산 중계수수료 NO!</div>
							</div>
						</li>
						<li>
							<div class="feauture-box">
								<div class="feature-img" style="background-image: url('http://www.woozoo.kr/images/landing/feature5.svg')"></div>
								<div class="feature-desc">우주만의 다양한 부가&제휴서비스</div>
							</div>
						</li>
						<li>
							<div class="feauture-box">
								<div class="feature-img" style="background-image: url('http://www.woozoo.kr/images/landing/feature6.svg')"></div>
								<div class="feature-desc">라이프스타일을 고려한 인테리어</div>
							</div>
						</li>
						<li>
							<div class="feauture-box">
								<div class="feature-img" style="background-image: url('http://www.woozoo.kr/images/landing/feature7.svg')"></div>
								<div class="feature-desc">유연한 계약기간</div>
							</div>
						</li>
						<li>
							<div class="feauture-box">
								<div class="feature-img" style="background-image: url('http://www.woozoo.kr/images/landing/feature8.svg')"></div>
								<div class="feature-desc">우주만의 다양한 네트워킹</div>
							</div>
						</li>
						<li>
							<div class="feauture-box">
								<div class="feature-img" style="background-image: url('http://www.woozoo.kr/images/landing/feature9.svg')"></div>
								<div class="feature-desc">최적의 위치와 교통, 안전한 라이프</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<secction>
			<div class="section-contents section06">
				<div class="sub-title">이제 여러분도 우주인이 되어보세요.</div>
				<div class="step-list">
					<ul>
						<li>
							<div class="step-box">
								<div class="step-img" style="background-image: url('http://www.woozoo.kr/images/landing/step1.svg')"></div>
								<div class="step-desc">1. 입주신청(PC, 모바일)</div>
							</div>
						</li>
						<li>
							<div class="step-box">
								<div class="step-img" style="background-image: url('http://www.woozoo.kr/images/landing/step2.svg')"></div>
								<div class="step-desc">2. 접수문자 확인</div>
							</div>
						</li>
						<li>
							<div class="step-box">
								<div class="step-img" style="background-image: url('http://www.woozoo.kr/images/landing/step3.svg')"></div>
								<div class="step-desc">3. 우주타임(하우스투어)</div>
							</div>
						</li>
						<li>
							<div class="step-box">
								<div class="step-img" style="background-image: url('http://www.woozoo.kr/images/landing/step4.svg')"></div>
								<div class="step-desc">4. 계약서 작성</div>
							</div>
						</li>
						<li>
							<div class="step-box">
								<div class="step-img" style="background-image: url('http://www.woozoo.kr/images/landing/step5.svg')"></div>
								<div class="main-process">5. 보증금 / 월세납부</div>
							</div>
						</li>
						<li>
							<div class="step-box">
								<div class="step-img" style="background-image: url('http://www.woozoo.kr/images/landing/step6.svg')"></div>
								<div class="step-desc">6. 오리엔테이션</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</secction>
		<section>
			<div class="section-contents section07">
				<div class="layer-white">
					<div class="section-title">INTERVIEW</div>
					<div class="section-desc">Real WOOZOOIN Interview</div>
				</div>
			</div>
		</section>
	</div>
	{{>footer jsName='main'}}
