{{> header title='서울에서 만나는 쉐어하우스,  우주' cssName='introduction'}}
<div class="wz-contents">
	<div class="menu-contents about">
		<div class="menu-inner">
			<div class="menu-box">
				<div class="about-tab">
					<ul>
						<li class="active">소개</li>
						<li>채용</li>
						<li>찾아오시는길</li>
					</ul>
					<div class="about-inner">
						<div class="introduction-contents">
							<ul>
								<li>
									<div class="intro-top">ABOUT WOOZOO</div>
									<div class="intro-contents">
										<div class="intro-title">BETTER TOGETHER with WOOZOO<br>
											'나'를 알고 '우리'를 이해하며 다함께 성장하는 청춘들의 집!</div>
										<div class="intro-desc">'셰어하우스 우주'는 함께하는 가치를 공유하고,<br>
											남에게 의지하기 보다는 진취적으로 문제를 해결하며,<br>
											다양한 사람들과 함께 성장하는 '우주인' 모두가 주인공인 공간입니다!<br>
											<br>
											우주는 국내 최초 최대 소셜하우징으로서 지금까지 수많은 우주인들에게 공간을 제공해왔습니다.<br>
											WOOZOO HOUSE의 문을 열고 들어온 순간부터, 우주인 모두는 우주가 제공하는 특별한 문화와 가치를 경험할 수 있습니다.<br>
											<br>
											WOOZOO HOUSE에는 혼자만의 시간을 보낼 수 있는 개인공간은 물론, 모두가 어울릴 수 있는 공용공간이 마련돼 있습니다.<br>
											우주인들은 우주만의 체계적인 하우스 관리와 다양한 생활 서비스 및 커뮤니티 서비스를 통해,<br>
											생활의 편리와 가치를 동시에 누릴 수 있습니다.<br>
											<br>
											앞으로도 우주는 더 많은 사람들에게 함께 하는 즐거움과 가치를 지속적으로 제공하기 위해 매일 배우고 매일 성장해가고 있습니다</div>
									</div>
								</li>
								<li>
									<div class="intro-top">WOOZOO가 특별한 6가지 이유</div>
									<div class="special-contents">
										<ul>
											<li>
												<div class="special-img" style="background-image: url('../img/img_woozoo_talent1.png')"></div>
												<div class="special-desc">
													공통의 관심사를 함께 나눌 수 있는<br>
													국내 '최초' '최대' 소셜하우스입니다.
												</div>
											</li>
											<li>
											<div class="special-img" style="background-image: url('../img/img_woozoo_talent2.png')"></div>
											<div class="special-desc">
												보증금과 월세 이외의 부당한<br>
												입주수수료를 요구하지 않습니다.
											</div>
											<li>
											<div class="special-img" style="background-image: url('../img/img_woozoo_talent3.png')"></div>
											<div class="special-desc">
												다양한 제휴 서비스를 통해 입주자들이<br>
												더 나은 삶을 살 수 있도록 도와줍니다.
											</div>
											</li>
											<li>
												<div class="special-img" style="background-image: url('../img/img_woozoo_talent4.png')"></div>
												<div class="special-desc">
													안락한 셰어라이프를 즐길 수 있도록<br>
													편리한 하우스 서비스를 제공합니다.
												</div>
											</li>
											<li>
												<div class="special-img" style="background-image: url('../img/img_woozoo_talent5.png')"></div>
												<div class="special-desc">
													정식 사업자 등록을 마친<br>
													믿을 수 있는 셰어하우스 업체입니다.
												</div>
											</li>
											<li>
												<div class="special-img" style="background-image: url('../img/img_woozoo_talent6.png')"></div>
												<div class="special-desc">
													우주인들을 위한 다양한 커뮤니티 서비스를<br>
													지원하고 즐거운 셰어라이프 문화를 만들어갑니다.
												</div>
											</li>
										</ul>
									</div>
								</li>
								<li>
									<div class="intro-top">BI 소개</div>
									<div class="bi-contents">
										<div class="bi-img" style="background-image: url('../img/img_bi.png')" ></div>
										<div class="bi-desc">우주를 상징하는 행성에 문을 달아 Universe, 宇宙 의 두 가지 의미를 담았습니다.<br>
											당신이 WOOZOO의 문을 열고 들어가는 순간부터 WOOZOO에서의 행복한 주거생활을 경험하게 될 것입니다.</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="recruit-contents">
							<div class="recruit-top">
								<div class="top-img" style="background-image: url('../img/img_recruit_main.jpg')" ></div>
								<div class="top-title">WOOZOO 수시채용</div>
								<div class = "top-desc">WOOZOO는 함께 할 인턴사원, 신입사원, 경력사원의 지원을 수시로 받고 있습니다.<br>
									여러분의 열정과 자질을 확인할 수 있는 간단한 이력서와 자기소개서를 보내주세요.<br>
									제출된 지원서는 검토 후 소중히 보관하여 내부 인원충원 시 연락 드리겠습니다.</div>
							</div>
							<div class="recruit-apply">
								<div class="apply-title">
									<div class="content-title">접수 안내</div>
									<div class="content-title-line">
										<div class="line"></div>
									</div>
								</div>
								<div class="apply-images">
									<ul>
										<li class="apply-img" style="background-image: url('../img/img_recruit01.png')"></li>
										<li class="apply-img" style="background-image: url('../img/img_recruit02.png')"></li>
										<li class="apply-img" style="background-image: url('../img/img_recruit03.png')"></li>
									</ul>
								</div>
								<div class="apply-desc">
									<ul>
										<li>
											<div class="desc-number">01</div>
											<div class="main-desc">자신을 잘 표현할 수 있는 자유양식의 이력서와 자기소개서를 작성해주세요! </div>
											<div class="sub-desc">(필수기재사항 : 지원 동기, 경력사항, 본인의 지원 분야 적합성 등)</div>
										</li>
										<li>
											<div class="desc-number">02</div>
											<div class="main-desc">작성하신 서류를 woozoo@woozoo.kr메일로 접수해주세요! </div>
											<div class="sub-desc">(메일제목 : [인턴] 우주인 / [신입or경력] 우주인)</div>
										</li>
										<li>
											<div class="desc-number">03</div>
											<div class="main-desc">제출하신 이력서는 검토 후 충원이 생길 시 연락드리도록 하겠습니다! 오매불망 기다려주세요! </div>
											<div class="sub-desc"> (필수기재사항 : 지원 동기, 본인의 지원 분야 적합성)</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="recruit-talent">
								<div class="talent-title">
									<div class="content-title">인재상</div>
									<div class="content-title-line">
										<div class="line"></div>
									</div>
								</div>
								<div class="talent-list">
									<ul>
										<li>
											<div class="talent-desc">어떤일이 맡겨져도 적극적으로 도전하는</div>
											<div class="talent-wz">적극적인 우주인!</div>
										</li>
										<li>
											<div class="talent-desc">작고 사소한 것도 놓치지 않는 용의주도함</div>
											<div class="talent-wz">용의주도 우주인!</div>
										</li>
										<li>
											<div class="talent-desc">어떤 어려움에도 포기하지 않는 최강 멘탈 갑</div>
											<div class="talent-wz">우주최강멘탈 우주인!</div>
										</li>
										<li>
											<div class="talent-desc">배려와 감사로 내가 속한 곳을 이롭게 하는</div>
											<div class="talent-wz">감사하는 우주인!</div>
										</li>
										<li>
											<button id="apply-btn">지원하기</button>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer jsName='introduction'}}
