{{> header title='서울에서 만나는 쉐어하우스,  우주' cssName='process'}}
<div class="wz-contents">
	<div class="menu-contents">
		<div class="menu-inner">
			<div class="menu-box">
				<div class="page-left">
					<div class="process-contents">
						<div class="process-top">
							<div class="process-title">우주인을 찾습니다.</div>
							<div class="process-desc">경쟁에서 벗어나 함께 공유하는 삶을 살며, 남에게 의지하기 보다는 진취적으로 문제를 해결하고,<br>
								새로운 문화 속에서 일상을 탈피한 재미를 느껴보고 싶은 분이라면! 지금, 우주인이 되어보세요!
							</div>
						</div>
						<div class="moving-process">
							<div class="title-list"></div>
							<div class="process-contents-title">입주 프로세스</div>
							<div class="moving-process-list">
								<ul>
									<li>
										<div class="process-img" style="background-image: url('../img/img_process1.png')"></div>
										<div class="moving-title">1.입주신청</div>
										<div class="moving-desc">홈페이지 또는 모바일을 통해<br>
											입주신청서를 작성해주세요</div>
									</li>
									<li>
										<div class="process-img" style="background-image: url('../img/img_process2.png')"></div>
										<div class="moving-title">2. 접수문자 확인</div>
										<div class="moving-desc">신청이 완료되면 접수<br>
											확인문자가 발송됩니다.</div>
									</li>
									<li>
										<div class="process-img" style="background-image: url('../img/img_process3.png')"></div>
										<div class="moving-title">3. 우주타임 (인터뷰)</div>
										<div class="moving-desc">희망지점을 방문해보고<br>
											간단한 인터뷰를 합니다.</div>
									</li>
									<li>
										<div class="process-img" style="background-image: url('../img/img_process4.png')"></div>
										<div class="moving-title">4. 계약서 작성</div>
										<div class="moving-desc">우주타임 후 희망 시 계약서<br>
											작성까지 바로 가능합니다.</div>
									</li>
									<li>
										<div class="process-img" style="background-image: url('../img/img_process5.png')"></div>
										<div class="moving-title">5. 보증금/월세 납부</div>
										<div class="moving-desc">기간 내에 보증금과 월세를<br>
											납부해야 계약이 완료됩니다.</div>
									</li>
									<li>
										<div class="process-img" style="background-image: url('../img/img_process6.png')"></div>
										<div class="moving-title">6. 오리엔테이션</div>
										<div class="moving-desc">입주 후 셰어하우스 생활에<br>
											대한 안내를 듣게 됩니다.</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="process-info">
							<div class="title-list"></div>
							<div class="process-contents-title">안내사항</div>
							<div class="process-info-contents">
								<ul>
									<li>입주신청은 현재 공실이거나 계약종료 두 달 전인 방의 신청만 받습니다.</li>
									<li>신규지점의 경우 신청서 작성 시 우주타임 일정을 선택할 수 있으며,<br>
										기존지점의 경우 신청 후 2일 이내에 담당자 연락을 통해서 조율가능합니다.</li>
									<li>계약시 수수료는 일체 받지 않습니다.<br>
										계약시 소정의 계약금을 수령하며, 계약금은 입주 후 반환됩니다.</li>
									<li>보증금은 계약서 작성 후 2일 이내, 월세는 입주 2일 전까지 납부하셔야 합니다.<br>
										보증금 납부 후 입주를 취소하실 경우, 보증금의 50%만 반환됩니다.</li>
									<li>계약기간 만료 이전에 중도퇴실할 경우 보증금에서 위약금 30만원이 차감됩니다.</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="process-footer">
						이제, 함께라서 더욱 즐거운<br>
						WOOZOO LIFE를 즐겨보세요!
					</div>
				</div>
				<div class="page-right">
					<div class="house-search-box">
						<div class="house-search-box-subtitle">
							함께 사는 즐거움을 만들어갑니다
						</div>
						<div class="house-search-box-title">
							WOOZOO
						</div>
						<div class="house-search-box-btn">
							<button id="house-search-btn">방 찾기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer jsName='process'}}
