{{> header title='서울에서 만나는 쉐어하우스,  우주' cssName='process'}}
<div class="wz-contents">
	<div class="menu-contents">
		<div class="menu-inner">
			<div class="menu-box">
				<div class="page-left">

				</div>
				<div class="page-right">
					<div class="house-search-box">
						<div class="house-search-box-subtitle">
							함께 사는 즐거움을 만들어갑니다
						</div>
						<div class="house-search-box-title">
							WOOZOO
						</div>
						<div class="house-search-box-btn">
							<button id="house-search-btn">방 찾기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{> footer jsName='process'}}
