<footer>
	<div class="footer-wrap">
		<div id="footer-box-left">
			<div id="footer-company">
				<div id="footer-logo">
					WOOZOO
				</div>
				<div id="footer-menu">
					<ul>
						<li>회사소개</li>
						<li>채용</li>
						<li>운영문의</li>
						<li>개인정보정책</li>
					</ul>
				</div>
			</div>
			<div id="footer-corp">
				<div id="footer-company-info">
					© 2014-2016 · 셰어하우스우주(주), All Rights Reserved<br>
					대표자 : 김정현 사업자 등록번호 : 107 - 87 - 79911<br>
					서울시 영등포구 의사당대로 143, 17층 (여의도동, 금융투자협회)<br>
					문의 : 010-3042-5161
				</div>
			</div>

		</div>
		<div id="footer-box-right">
			<div id="footer-btn">
				<button id="footer-signup-btn">WOOZOO 가입하기</button>
			</div>
			<div id="footer-sns">
				<ul>
					<li><i class="fa fa-facebook"></i></li>
					<li><i class="fa fa-instagram"></i></li>
					<li><i class="fa fa-google-plus"></i></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</div>
<script src="plugins/requirejs/require.min.js"></script>
<script src="js/require.config.js"></script>
<script src="js/{{jsName}}.js"></script>
</body>
</html>
