<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>서울에서 만나는 쉐어하우스, 우주</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="stylesheet" href="plugins/normalize/normalize.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/{{cssName}}.css">
	<script src="plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>
<div class="wz-container">
	<header id="main-bar">
		<div id="header-box">
			<div id="main-logo">
				WOOZOO
			</div>
			<div id="main-menu">
				<ul>
					<li>방찾기</li>
					<li>
						<div id="menu-more">
							MENU
							<i class="fa fa-caret-down"></i>
						</div>
					</li>
					<li>FAQ</li>
				</ul>
			</div>
			<div id="sign-info">
				<ul>
					<li>로그인</li>
					<li>회원가입</li>
				</ul>
			</div>
		</div>
	</header>
	<div class="menu-layer">
	</div>
	<div class="menu-list-box">
		<div class="menu-list-inner">
			<div class="menu-list info">
				<div class="menu-title">입주안내</div>
				<div class="menu-btn">
					<ul>
						<li class="process">- 입주절차</li>
						<li class="culture">- 문화</li>
						<li class="service">- 서비스</li>
					</ul>
				</div>
			</div>
			<div class="menu-list company">
				<div class="menu-title">회사소개</div>
				<div class="menu-btn">
					<ul>
						<li class="introduction">- 소개</li>
						<li class="recruit">- 채용</li>
						<li class="contact">- 찾아오시는길</li>
					</ul>
				</div>
			</div>
			<div class="menu-list operation">
				<div class="menu-title">운영안내</div>
				<div class="menu-btn">
					<ul>
						<li class="inquire">- 운영문의</li>
						<li class="example">- 운영사례</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
